<<<<<<< HEAD
.galaxy-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
=======
.galaxy-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
>>>>>>> f28f9da7251204656258f8394977c7a1fc1d019a
}